.todo {
    display: flex;  
    align-items: center;
    flex-direction: column;
    gap:10px;
    min-height: 90vh;
    .todo23 {
        display: flex;
    }
    .formforedit {
        display: flex;
        
    }
}